.product-page {
    padding: 20px;
}

.item-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.back {
    color: #071E57;
    border: none;
    width: 50px;;
    display: contents;
}

.photo {
    height: 572px;
    width: 88vw;
    margin-top: 20px;
    background: #D9D9D9;
}

.title {
    font-family: 'Murs Gothic', sans-serif;
    font-size: 18px;
    color: #071E57;
    margin: 10px 0;
}

.price {
    font-size: 16px;
    color: #071E57;
    margin: 0;
}


.changeSize {
    margin: 10px 0;
}

.buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*.add-btn, .minus-btn  {*/

/*    !*background: #7fc7ff;*!*/
/*    !*background: var(--tg-theme-button-color);*!*/
/*    background-color: #071E57;*/
/*    color: #EDE9E3;*/
/*    cursor: pointer;*/
/*    border: none;*/
/*    border-radius: 10px;*/
/*    padding: 2px;*/
/*    height: 30px;*/
/*    width: 30px;*/
/*    margin: 15px;*/
/*    box-shadow: 4px 1px 2px gray;*/
/*    font-family: 'Montserrat', sans-serif;*/
/*}*/

.shopping-info-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.changeSize {
    width: 60.5vw;
    display: flex;
    height: 37px;
    text-align: center;
    border: 0.5px solid #071E57;
    font-family: 'Montserrat', sans-serif;
}

.back-button {
    color: #071E57;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    height: 37px;
    width: 90px;
    margin-left: 5%;
    box-shadow: 4px 1px 2px gray;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    margin-right: 70%;
}

.text-on-back-button{
    color: #EDE9E3;
    text-decoration: none;
}

.add-to-cart-btn {
    background-color: #071E57;
    color: #EDE9E3;
    cursor: pointer;
    border: none;
    height: 37px;
    width: 60.5vw;
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
}

.add-to-cart-btn:disabled {
    background-color: gray;
    color: lightgray;
    border: none;
    height: 37px;
    width: 60.5vw;
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
    cursor: default;
}

.description {
    margin-top: 20px;
    font-size: 10px;
}

.product-container {
    margin-top: 20px;
    width: 60.5vw;
}

.toggle-button {
    background-color: #071E57;
    color: #EDE9E3;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    height: 37px;
    width: 60.5vw;
    box-shadow: 4px 1px 2px gray;
    font-family: 'Montserrat', sans-serif;
}

.product-description {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;

}

.product-description.visible {
    max-height: 600px; /* Максимальная высота при открытии (можно изменить) */
    opacity: 1; /* Полная видимость */
    color: #071E57;
}

.product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-left: -8.5vw;
    margin-top: 20px;
}
.qa-title {
    font-family: 'Murs Gothic', sans-serif;
    font-size: 25px;
}
.qa-content {
    width: 80vw;
    margin-top: 20px;
    max-height: 600px;
    background: #071E57;
    color: #F2EDEA;
    list-style-type: none;
    padding-right: 20px;
    margin-left: -5vw;
}
.answer {
    font-size: 12px;
    margin-left: 10px;
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
}
.list-item {
    margin-bottom: 10px;
    list-style-type: none;
    margin-left: -15px;
    font-family: 'Montserrat', sans-serif;
}
.question-button {
    padding-bottom: 10px;
    border-bottom: 0.5px solid #D9D9D9;
}

.contacts-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    width: 66vw;
    padding: 30px;
    border: 0.5px solid #D9D9D9;
}

.contacts-link {
    margin-top: 10px;
    color: #3D3D3D;
    font-size: 20px;
    font-weight: bold;
}

.contacts-subtitle {
    font-family: 'Murs Gothic', sans-serif;
    margin-top: 20px;
    font-size: 18px;
}