.product-page {
    margin: auto;
    padding: 20px;
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-item img {
    height: 300px;
    border-radius: 10px;
    width: 100%;
}

.title {
    font-size: 24px;
    color: #071E57;
    margin: 10px 0;
}

.price h2 {
    font-size: 28px;
    color: #071E57;
}


.changeSize {
    margin: 10px 0;
}

.buttons {
    margin-top: 10px;
}

/*.add-btn, .minus-btn  {*/

/*    !*background: #7fc7ff;*!*/
/*    !*background: var(--tg-theme-button-color);*!*/
/*    background-color: #071E57;*/
/*    color: #EDE9E3;*/
/*    cursor: pointer;*/
/*    border: none;*/
/*    border-radius: 10px;*/
/*    padding: 2px;*/
/*    height: 30px;*/
/*    width: 30px;*/
/*    margin: 15px;*/
/*    box-shadow: 4px 1px 2px gray;*/
/*    font-family: 'Montserrat', sans-serif;*/


/*}*/

.shopping-info-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.changeSize {
    width: 60.5vw;
    display: flex;
    height: 37px;
    text-align: center;
    border-radius: 15px;
    border: 2px solid #071E57;
    font-family: 'Montserrat', sans-serif;
}

.back-button {
    background-color: #071E57;
    color: #EDE9E3;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    height: 37px;
    width: 90px;
    margin-left: 5%;
    box-shadow: 4px 1px 2px gray;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    margin-right: 70%;


}

.text-on-back-button{
    color: #EDE9E3;
    text-decoration: none;
}

.add-to-cart-btn {
    background-color: #071E57;
    color: #EDE9E3;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    height: 37px;
    width: 60.5vw;
    margin: 5px;
    box-shadow: 4px 1px 2px gray;
    font-family: 'Montserrat', sans-serif;
}

.add-to-cart-btn:disabled {
    background-color: gray;
    color: lightgray;
    border: none;
    border-radius: 15px;
    height: 37px;
    width: 60.5vw;
    margin: 5px;
    box-shadow: 4px 1px 2px gray;
    font-family: 'Montserrat', sans-serif;
    cursor: default;
}

.description {
    margin-top: 20px;
}