.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid darkgray;
    border-radius: 20px;
    margin-left: 6px;
    width: 93vw;

}

.item {
    margin-right: 10px;
    margin-bottom: 10px;
    /*background: coral;*/
}