.form {
    display: flex;
    flex-direction: column;
    width: 85vw;
    padding: 20px;
    justify-content: center;
    align-items: center;
    color: var(--tg-theme-button-text-color);
}

.input {
    width: 65vw;
    padding: 10px;
    margin-top: 15px;
    background: var(--tg-theme-bg-color);
    color: var(--tg-theme-button-text-color);
    border: 1px solid var(--tg-theme-button-text-color);
    border-radius: 10px;
}

.select {
    padding: 10px;
    margin-top: 15px;
    width: 67vw;
    background: var(--tg-theme-bg-color);
    color: var(--tg-theme-button-text-color);
    border: 1px solid var(--tg-theme-button-text-color);;
    border-radius: 10px;

}
