.form {
    display: flex;
    flex-direction: column;
    width: 85vw;
    padding: 10px;
    justify-content: center;
    align-items: center;
    color: #071E57;
    background-color: #ffffff;
    border-radius: 10px;

}

.input {
    width: 65vw;
    padding: 10px;
    margin-top: 15px;
    background: #EDE9E3;
    color:  #071E57;
    border: 1px solid #071E57;
    border-radius: 10px;
}

.select-delivery {
    padding: 10px;
    margin-top: 15px;
    width: 67vw;
    height: 2.5vw;
    background: #EDE9E3;
    color: #071E57;
    border: 1px solid #071E57;;
    border-radius: 10px;
}
