.confirm-container {
    width: 90vw;
    margin: auto;
    padding: 20px;
    color: #071E57;
}
.confirm-form {
    width: 90vw;
    margin: auto;
    padding: 20px;
    color: #071E57;
}

.title-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin-top: 20px;
    margin-bottom: 20px;
}
.cart-title{
    font-size: 20px;
    font-family: 'Murs Gothic', sans-serif;
}

.item-product-content-confirm{
    display: flex;
    justify-content: start;
}

.item-product-img-confirm {
    width: 30vw;
    height: 168px;
}
.item-product-description {
    margin-left: 20px;
}
.item-product-price {
    display: flex;
    position: relative;
    top: 25px;
    left: 0;
}
.display-total-price {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.order-container {
}
.product-item {
    border-bottom: 0.5px solid #000000;
    padding: 15px;
    margin-bottom: 15px;
    height: 200px;
    margin-top: 20px;

}

.back {
    color: #071E57;
    border: none;
    width: 50px;;
    display: contents;
}

.payform-tbank {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 2px auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 250px;
}
.payform-tbank-row {
    margin: 2px;
    border-radius: 4px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border: 1px solid #DFE3F3;
    padding: 15px;
    outline: none;
    background-color: #DFE3F3;
    font-size: 15px;
}
.payform-tbank-row:focus {
    background-color: #FFFFFF;
    border: 1px solid #616871;
    border-radius: 4px;
}
.payform-tbank-btn {
    background-color: #FBC520;
    border: 1px solid #FBC520;
    color: #3C2C0B;
}
.payform-tbank-btn:hover {
    background-color: #FAB619;
    border: 1px solid #FAB619;
}