/* Основные стили для меню */
.menu {
    position: fixed;
    top: 0;
    right: -100%; /* Скрываем меню за пределами экрана */
    width: 100vw; /* Ширина меню равна ширине экрана */
    height: 100%;
    background-color: #071E57;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    z-index: 1000;
    transition: right 0.3s ease, opacity 0.3s ease, transform 0.3s ease; /* Плавные переходы для right, opacity и transform */
    opacity: 0; /* Меню изначально скрыто */
    transform: translateX(10%); /* Немного сдвигаем меню, чтобы создать эффект выдвижения */
}

/* Меню в открытом состоянии */
.menu.open {
    right: 0; /* Меню находится в пределах экрана */
    opacity: 1; /* Меню полностью видимо */
    transform: translateX(0); /* Меню находится на своем месте */
}

/* Прочие стили остаются без изменений */
.menu ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
}

.menu li {
    margin: 20px 0;
}

.close-icon {
    position: absolute;
    margin-top: 30px;
    top: 20px;
    right: 20px;
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.logotype-in-menu {
    position: absolute;
    margin-top: 5px;
    top: 20px;
    left: 20px;
    cursor: pointer;
    width: 80px;
    height: 80px;
}
