.product {
    display: flex;
    flex-direction: column;
    /*border: 2px solid var(--tg-theme-button-color);*/
    padding: 14px;
    width: 100px;
    text-align: center;
    align-items: center;
    margin: 5vw;

}

.img {
    width: 100%;
    /*background: lightgray;*/
    height: 100px;
    margin: 0;
    background: white;
    /*background: red;*/
}

.description {
    font-size: 0.8em;
}

.title {
    display: flex;
    height: 37px;
    align-items: center;
}

.price {
    margin-top: 5px;
}

.add-btn, .minus-btn  {

    /*background: #7fc7ff;*/
    /*background: var(--tg-theme-button-color);*/
    background-color: #4CAF50;
    color: var(--tg-theme-button-text-color);
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 2px;
    height: 30px;
    width: 30px;
    margin: 5px;
}

.counter {
    margin-top: 4px;
    display: flex;
    align-items: center;
    border: 1px solid #4CAF50;
    border-radius: 10px;
}

.count {
    margin: 0 10px; /* Отступы вокруг счетчика */
    font-size: 18px; /* Размер шрифта для счетчика */
}