.product {
    display: flex;
    flex-direction: column;
    /*border: 2px solid var(--tg-theme-button-color);*/
    padding: 14px;
    width: 100px;
    text-align: center;
    align-items: center;
    margin: 5vw;

}

.img {
    width: 100%;
    background: lightgray;
    height: 100px;
    margin: 0;
    background: var(--tg-theme-bg-color);
    /*background: red;*/
}

.description {
    font-size: 0.8em;
}

.title {
    display: flex;
    height: 37px;
    align-items: center;
}

.price {
    margin-top: 5px;
}

.add-btn {
    width: 156%;
    /*background: #7fc7ff;*/
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    cursor: pointer;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    padding: 2px;
    height: 50px;
}