.product {
    display: flex;
    flex-direction: column;
    /*border: 2px solid var(--tg-theme-button-color);*/
    padding: 15px;
    width: 100px;
    text-align: center;
    align-items: center;

}

.img {
    width: 100%;
    background: lightgray;
    height: 100px;
    margin: 0;
    background: var(--tg-theme-bg-color);
    /*background: red;*/
}

.description {
    font-size: 0.8em;
}

.add-btn {
    width: 90%;
    background: var(--tg-theme-button-color);
    /*background: coral;*/
    color: var(--tg-theme-button-text-color);
    cursor: pointer;
    border: none;
    border-radius: 15px;
}