@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
  transition: background-color 0.5s, color 0.5s;
  font-family: "Montserrat", sans-serif;
}

.light {
  background: #F2EDEA;
  color: #071E57;
}

.dark {
  background-color: #071E57;
  color: #F2EDEA;
}